
<!-------- footer and contact info -------->
<footer>
    <div class="container-fluid contactinfo-block">
        <div class="contactinfo-header">
            <div class="star_separator">
                ★★★★★★★
            </div>
            <div class="contactinfo-headertext">
                <a name="contactinfo"></a>
                Контактная информация
            </div>
            <div class="line_separator">
                <hr>
            </div>
        </div>
        <div class="contactinfo-inner">
            <div class="contactinfo-map">
                <div id="yandexmap"></div>
            </div>
            <div class="contactinfo-contacts">
                <div class="contactinfo-title">
                    Контактная информация:
                </div>
                <div class="contactinfo-text">
                    <p>г.Белгород, ул. Королева, 2К</p>
                    <p>Email: Test@yandex.ru</p>
                    <p>Телефон: 8 800 555 35 35 - администратор</p>
                    <p>Телефон: 8 800 444 34 34 - директор</p>

                    <div class="contactinfo-socnet">
                        <p class="p-center">Присоединяйтесь к нам в социальных сетях:</p>
                        <ul class="social-icons">
                            <li><a href=""><i class="fa fa-vk"></i></a></li>
                            <li><a href=""><i class="fa fa-odnoklassniki"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-------- /footer and contact info -------->