.star_separator{
    margin-bottom: 50px;
    font-size: 28pt;
    color: rgb(13, 110, 253);
}
/* -------------Header------------- */
.navbar{
    padding: 0;
    margin: 15px 0;
}
.navbar-brand{
    font-size: 40px;
}
.nav-item a {
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}
.nav-item a:after {
    background-color: rgb(13, 110, 253); /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.nav-item a:hover:after,
.nav-item a:focus:after {
    width: 100%;
}
.welcome-block{
    position: relative;
    text-align: center;
    padding: 0px;
    background-color: #000000;
}
.welcome-img{
    opacity: 0.5;
    width: 100%;
}
.welcome-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-headertext{
    font-family: 'Neucha', cursive;
    font-size: 72pt;
    color: rgb(255, 255, 255);
}
.welcome-inner hr{
    margin: auto;
    color: rgb(13, 110, 253);
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 5px;
    opacity: 1;
}
.welcome-subtext{
    margin: 25px 0;
    font-family: 'Neucha', cursive;
    font-size: 22pt;
    color: rgb(255, 255, 255);
}
.welcome-btnShowModal{
    width: 20%;
    padding: 10px 0;
    font-size: 14pt;
}
.modal-body{
    text-align: left;
}
.modal-footer button{
    width: 100%;
}
/* -------------/Header------------- */

/* --------Content Schedule--------- */
.schedule-block{
    margin: 50px 0;
    text-align: center;
}
.schedule-headertext{
    font-size: 54pt;
    color: rgb(39, 37, 37);
    font-family: 'Neucha', cursive;
}
.table{
    margin-top: 40px;
    font-size: 20pt;
    text-align: left;
    table-layout: auto;
}
th{
    width: 20%;
}
/* --------/Content Schedule--------- */

/* -------Content Achievements------- */
.achievements-block{
    padding: 70px 0;
    text-align: center;
    background-color: rgba(13, 110, 253, 0.8);
    color: #fff;
}
.achievements-headertext{
    font-family: 'Neuch', cursive;
    font-size: 54pt;
}
.achievements-inner{
    display: flex;
    flex-wrap: wrap;
}
.achievements-item{
    padding: 40px;
    width: 33.3333%;
}
.achievements-title{
    margin: 20px 0;
    font-family: 'Neuch', cursive;
    font-size: 20pt;
}
.achievements-text{
    font-size: 15pt;
}
/* ------/Content Achievements------- */

/* ------Content News------- */
.news-block{
    padding: 70px 0;
    text-align: center;
}
.news-header hr{
    margin: auto;
    color: rgb(13, 110, 253);
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 5px;
    opacity: 1;
}
.news-headertext{
    margin-bottom: 25px;
    font-size: 54pt;
    color: rgb(39, 37, 37);
    font-family: 'Neucha', cursive;
}
.news-subtext{
    margin: 25px 0;
    font-size: 15pt;
    color: rgb(0, 0, 0);
}
.news-inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.news-item{
    width: 33.3333%;
    padding: 40px;
}
/* ------/Content News------- */

/* ------Content About Us------- */
.aboutus-block{
    padding: 70px 0;
}
.aboutus-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.aboutus-item{
    width: 80%;
}
.news-header hr{
    margin: auto;
    color: rgb(13, 110, 253);
    border: none;
    border-radius: 5px;
    width: 20%;
    height: 5px;
    opacity: 1;
}
.news-headertext{
    margin-bottom: 25px;
    font-size: 54pt;
    color: rgb(39, 37, 37);
    font-family: 'Neucha', cursive;
}
.news-subtext{
    margin: 25px 0;
    font-size: 15pt;
    color: rgb(0, 0, 0);
}
.news-inner{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.news-item{
    width: 33.3333%;
    padding: 40px;
}
/* ------/Content About Us------- */

@media (max-width: 1199px) {
    /* Header and welcome block */
    .welcome-headertext{
        font-size: 50pt;
    }
    .welcome-subtext{
        font-size: 18pt;
    }
    /* Content Schedule */
    .schedule-block{
        margin: 40px 0;
    }
    .star_separator{
        margin-bottom: 40px;
        font-size: 24pt;
    }
    .schedule-headertext{
        font-size: 46pt;
    }
    .table{
        margin-top: 35px;
        font-size: 18pt;
    }
    /* Content Achievements */
    .achievements-block{
        padding: 60px 0;
    }
    .achievements-headertext{
        font-size: 46pt;
    }
    /* Content News */
    .news-block{
        padding: 60px 0;
    }
    .news-headertext{
        font-size: 46pt;
    }
}
@media (max-width: 991px) {
    /* Header and welcome block */
    .welcome-headertext{
        font-size: 40pt;
    }
    .welcome-subtext{
        margin: 20px 0;
        font-size: 18pt;
    }
    .welcome-btnShowModal{
        font-size: 12pt;
    }
    /* Content Schedule */
    .schedule-block{
        margin: 30px 0;
    }
    .star_separator{
        margin-bottom: 30px;
        font-size: 20pt;
    }
    .schedule-headertext{
        font-size: 36pt;
    }
    .table{
        margin-top: 30px;
        font-size: 16pt;
    }
    /* Content Achievements */
    .achievements-block{
        padding: 50px 0;
    }
    .achievements-headertext{
        font-size: 36pt;
    }
    .achievements-item{
        padding: 30px;
    }
    .achievements-title{
        margin: 15px 0;
        font-size: 18pt;
    }
    .achievements-text{
        font-size: 14pt;
    }
    /* Content News */
    .news-block{
        padding: 50px 0;
    }
    .news-headertext{
        font-size: 36pt;
    }
    .news-item{
        padding: 30px;
    }
}
@media (max-width: 767px) {
    /* Header and welcome block */
    .welcome-headertext{
        font-size: 30pt;
    }
    .welcome-inner hr{
        border-radius: 4px;
        height: 4px;
    }
    .welcome-subtext{
        margin: 15px 0;
        font-size: 16pt;
    }
    .welcome-btnShowModal{
        width: 30%;
        padding: 8px 0;
        font-size: 10pt;
    }
    /* Content Schedule */
    .schedule-block{
        margin: 20px 0;
    }
    .star_separator{
        margin-bottom: 20px;
        font-size: 16pt;
    }
    .schedule-headertext{
        font-size: 26pt;
    }
    .table{
        margin-top: 20px;
        font-size: 14pt;
    }
    /* Content Achievements */
    .achievements-block{
        padding: 40px 0;
    }
    .achievements-item{
        padding: 20px;
        width: 50%;
    }
    .achievements-title{
        font-size: 16pt;
    }
    .achievements-text{
        font-size: 12pt;
    }
    /* Content News */
    .news-block{
        padding: 40px 0;
    }
    .news-subtext{
        font-size: 12pt;
    }
    .news-item{
        padding: 20px;
        width: 50%;
    }
}
@media (max-width: 540px) {
    /* Header and welcome block */
    .nav-item a {
        font-size: 18px;
    }
    .welcome-headertext{
        font-size: 18pt;
    }
    .welcome-inner hr{
        border-radius: 3px;
        height: 3px;
    }
    .welcome-subtext{
        margin: 10px 0;
        font-size: 10pt;
    }
    .welcome-btnShowModal{
        width: 35%;
        padding: 6px 0;
        font-size: 10pt;
    }
    /* Content Schedule */
    .schedule-block{
        margin: 15px 0;
    }
    .star_separator{
        margin-bottom: 15px;
        font-size: 12pt;
    }
    .schedule-headertext{
        font-size: 20pt;
    }
    .table{
        margin-top: 15px;
        font-size: 12pt;
    }
    /* Content Achievements */
    .achievements-block{
        padding: 30px 0;
    }
    .achievements-headertext{
        font-size: 20pt;
    }
    .achievements-item{
        width: 100%;
    }
    .achievements-title{
        margin: 12px 0;
        font-size: 16pt;
    }
    .achievements-text{
        font-size: 12pt;
    }
    .achievements-block img{
        width: 80px;
    }
    /* Content News */
    .news-block{
        padding: 30px 0;
    }
    .news-headertext{
        font-size: 20pt;
    }
    .news-subtext{
        margin: 20px 0;
        padding: 0 20px;
    }
    .news-item{
        width: 100%;
    }
}
@media (max-width: 360px) {
    /* Header and welcome block */
    .nav-item a {
        font-size: 15px;
        display: inline-block;
        line-height: 1;
        text-decoration: none;
    }
    .welcome-headertext{
        font-size: 15pt;
    }
    .welcome-inner hr{
        border-radius: 3px;
        height: 2px;
    }
    .welcome-subtext{
        margin: 8px 0;
        font-size: 6pt;
    }
    .welcome-btnShowModal{
        width: 35%;
        padding: 5px 0;
        font-size: 6pt;
    }
    /* Content Schedule */
    .schedule-block{
        margin: 10px 0;
    }
    .star_separator{
        margin-bottom: 10px;
        font-size: 8pt;
    }
    .schedule-headertext{
        font-size: 15pt;
    }
    .table{
        margin-top: 10px;
        font-size: 8pt;
    }
    /* Content Achievements */
    .achievements-block{
        padding: 20px 0;
    }
    .achievements-headertext{
        font-size: 15pt;
    }
    .achievements-item{
        padding: 30px;
    }
    .achievements-title{
        margin: 10px 0;
        font-size: 12pt;
    }
    .achievements-text{
        font-size: 10pt;
    }
    .achievements-block img{
        width: 50px;
    }
    /* Content News */
    .news-block{
        padding: 20px 0;
    }
    .news-headertext{
        font-size: 15pt;
    }
    .news-subtext{
        margin: 15px 0;
        font-size: 8pt;
    }
    .news-item{
        padding: 30px;
    }
    .news-item .card-title{
        font-size: 10pt;
    }
    .news-item .card-text{
        font-size: 8pt;
    }
    .news-btnReadMore{
        font-size: 8pt;
    }
    .news-btnShowAllNews{
        font-size: 10pt;
    }
}